.dual-progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
}

.dual-progress-message {
  position: absolute;
  bottom: 20%;
  font-size: 0.9rem;
}

.dual-progress-help {
  font-size: 0.8rem;
  color: gray;
}
