body {
  --main-link-color: #222;
  --gray-text-color: #667;
  --accent-shadow-color: rgba(200, 200, 200, 0.4);
  --toolbar-text-color: #ffffff;
  --line-item-normal-color: white;
  --line-item-active-color: antiquewhite;
  --accent-text-color: rgb(255, 0, 128);
  --dark-window-color: #1f3d55;
  --light-window-color: #406172;
  --hilite-text-backcolor: #ffd800;
  --hilite-text-forecolor: #37a;
  --row-even-color: #eef4fe;
  --thumb-item-cell-width: 180px;
  --thumb-item-cell-height: 230px;
  --thumb-item-image-size: 172px;
  --sort-menu-width: inherit;
}

body.light {
  --dark-window-color: antiquewhite;
  --light-window-color: whitesmoke;
  --toolbar-text-color: #222;
  --hilite-text-backcolor: #37a;
  --hilite-text-forecolor: #ffd800;
}
:root {
  --carousel-title-font: 2rem;
  --carousel-caption-font: 1rem;
  --carousel-line-height: 28px;
  --carousel-max-height: 240px;
}
.nav-list-icon {
  min-width: 36px !important;
}
.App {
  /* text-align: center; */
  height: 100vh;
  overflow: hidden;
}
.App.home {
  overflow: scroll;
  outline: solid 1px rebeccapurple;
}
a {
  cursor: default;
}
img.toolbar-logo {
  width: 40px;
  margin: 7px;
}

.disabled-icon {
  color: #888;
}

.carousel-cell-recent {
  position: relative;
}

.carousel-cell-recent .carousel-cell-text {
  position: absolute;
  bottom: 0;
  background-color: antiquewhite;
  width: 92%;
  border-radius: 5px;
  padding: 0 4px;
  line-height: 1.2;
  opacity: 0.6;
  /* margin: 0 4%; */
}

.carousel-cell-recent:hover .carousel-cell-text {
  opacity: 1;
}
.carousel-cell-recent img {
  width: 180px !important;
  height: 180px !important;
  border-radius: 50%;
}

.carousel-cell-recent img.open {
  width: 140px !important;
  height: 140px !important;
}

.carousel-cell-artist {
  font-size: 0.8rem;
  color: gray;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.amplify-card-header {
  font-size: 20px;
  margin: 0 0;
}

.MuiDataGrid-root {
  height: calc(100vh - 160px);
}

.upper-menu {
  height: 40px;
  /* outline: solid 1px rebeccapurple; */
}

.upper-menu-left {
  float: left;
}

.upper-menu-right {
  float: right;
  margin: 0 20px;
}

.app-workspace {
  padding: 0 20px;
  outline: dotted 2px red;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  transition: height 0.2s;
}

/* .app-workspace.open {
  height: 80vh;
} */

.list-view,
.thumbnail-view,
.infinite-scroll-component {
  width: 96vw;
  height: calc(100vh - 128px);
  float: left;
  grid-gap: 1em;
  margin-top: 0;
  margin-left: 26px;
  transition: width 0.4s;
  overflow: scroll;
}

.infinite-scroll-component {
  padding: 0;
  margin: 0;
}
.playlist-add-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

.no-wrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.amplify-main-workspace {
  margin-top: 72px;
}

.thumbnail-view.collapsed,
.list-view.collapsed {
  height: calc(100vh - 200px);
  /* outline: dotted 4px red; */
}

.dash-page-grid {
  margin: 72px 20px;
}

.dash-page-grid.open {
  margin: 72px 20px 72px 256px;
}

.see-all-link {
  font-size: 0.95rem;
  cursor: pointer;
}
.material-icons {
  vertical-align: middle;
}

.icon-button-no-padding {
  padding: 0 !important;
}
.dash-page-paper {
  padding: 20px;
  color: #333;
  margin: 4px 0 0 0;
}

.thumbnail-view.collapsed {
  border: solid 1px #999;
  border-radius: 5px;
}

.thumbnail-view,
.infinite-scroll-component {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 4px;
}

.classes-batch-outer {
  width: 960px;
  display: grid;
  grid-template-columns: 280px 1fr 280px;
  /* border: dotted 1px red; */
}

.list-view.open,
.thumbnail-view.open {
  width: calc(100vw - 264px);
  margin-left: 256px;
}

.thumbnail-view .thumbnail-item {
  height: 226px;
  margin-top: 12px;
}

.thumbnail-view .thumbnail-item img {
  width: 180px;
  height: 180px;
}

.caption-title-line {
  font-size: 0.8rem;
  line-height: 1.2;
}

.caption-footer-line {
  line-height: 1;
  font-size: 0.7rem;
  color: #667;
}

.home-link-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 16px;
}

.home-link-list .home-link-list-item a {
  color: var(--main-link-color);
}
.home-link-list .home-link-list-item {
  width: 50%;
  padding: 4px 0;
}
.material-icons {
  vertical-align: middle;
  margin: 0 4px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinning-icon {
  animation: album-rotate 0.8s infinite linear;
}

.spinning-cd {
  animation: album-rotate 4s infinite linear;
  border-radius: 50%;
  box-shadow: none;
}

@keyframes album-rotate {
  from {
    transform: rotateZ(0);
  }

  to {
    transform: rotateZ(360deg);
  }
}

.standard-button {
  cursor: pointer;
}
.standard-button:hover {
  color: #37a;
  box-shadow: 1px 1px 4px #777;
}
.standard-button:active {
  color: #37a;
  border: 1px dotted grey;
  box-shadow: none;
}

.MuiDataGrid-row.Mui-odd {
  background-color: var(--row-even-color);
}
.MuiDataGrid-row.Mui-selected {
  background-color: var(--line-item-active-color) !important;
}
